/* =============
   Global styles
   ============= */

* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 
    /* Primary Colour */
    --dark-violet: hsl(256, 26%, 20%); 

    /* Secundary Colour */
    --very-light-gray: hsl(0, 0%, 98%);

}
             
body { 
    font-family: 'Karla', sans-serif; 
    font-size: 16px;  
    font-weight: 400, 700;     
}



/* test css for js */
.bg-color {
    background-color: rgb(228, 225, 225);
}

/* real CSS */
#header-background {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./src/background-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 100vh;
    width: 100vw; 
    text-align: center; 
    position: relative; 
    padding: 0 10%;

}

header h1 {
    font-size: 3rem;
    padding: 100px 0;
    color: var(--very-light-gray);
    z-index: 1;
}

#header-text {
    font-size: 1rem;
    color: var(--very-light-gray);
    z-index: 1;
    /* padding: 50px 20%; */
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    top: 0;
 }




.middle-sect{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    
}



.user-btn, .btn-price, .background-btn{
    background-color: #FFB6C1;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
    

}

.background-btn, .user-btn{
    font-size: 16px;
    margin-left: 30px;
}

.ins-grid{
    display:grid;
    grid-template-columns: 70px 70px;
    grid-template-rows:  1fr 1fr 1fr;
    gap: 8px 35px;
    justify-content: center;
}
.depart-sect img{
    height: 70;
    width: 70px; 
    
}

.middle-sect p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}


.deals-sect{
    justify-content: center;
    text-align: center;
}
.cloth-sect{
    text-align: center;
    justify-content: center;
}

.pict7, .pict8{
    height: 250px;
    width: 170px;
}

 .btn-7, .btn-prise {
    background-color: #FFB6C1;
    border-radius: 10px;
    font-weight: bold;
    display:block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    
 }
 .btn-7{
     margin-top:71px;
 }
 
 @media screen and (max-width: 960px) {
     .middle-sect{
         display: flex;
         flex-wrap: wrap;
    justify-content: center;
    
     }
     
      
    }
  
  



/* Ioan section */
/* Footer section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-violet);
    width: 100vw;
    /* height: 100%; */   
 }
 
 .footer-top {
    text-align: center;
    width: 90%;
    border-bottom: 2px solid rgb(228, 225, 225);
    padding: 30px;
 }
 
 .footer-content {    
     display: flex;
     flex-wrap: wrap;
     justify-content: center;    
     margin-bottom: 50px;
 }
 
 .footer-content ul {
    list-style: none;
    text-align: center;
    margin: 20px;  
    width: 250px; 
 }
 
 .footer-content ul li {
    color: var(--very-light-gray);
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px;
 }
 
 .ftr-col li:first-child {
    margin: 20px;
    margin-top: 30px;
    color: var(--very-light-gray);
    font-size: 1.1rem;
    text-decoration: underline;
 } 
 
 /* =============
    Components
    ============= */ 
 
 .social-media {   
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;  
 }
 
 .social-media li {
     margin: 0 15px;
 }
 
 .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--very-light-gray);
    height: 30px;
    width: 30px;   
    text-decoration: none;
    /* scale: 1.7; */
    transform: scale(1.2);
    padding: 18px;
    margin: 2px;
 } 

 .btn {
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--dark-violet);
    color: var(--dark-violet);
    font-size: 1rem;
    font-weight: 400;
    /* letter-spacing: 2px; */
    width: 150px;
    padding: 8px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
 }
 
 .btn:hover {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
 }


@media (min-width: 1200px) {
    #header-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("./src/background-image.jpg");
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center;
        height: 100vh;
        width: 100vw; 
        text-align: center; 
        position: relative; 
        padding: 0 10%;
    }

 }
